# Example udev rules for use with the CLP-800 Linux driver.  This file can be
# placed in /etc/udev/rules.d.

# The following rule will issue a random reseed command to an unseeded engine.
DRIVER=="clp800", ACTION=="change", ATTR{reseed_action}=="unseeded", \
	ATTR{reseed_action}="random"

# The following rule will automatically issue a random reseed command when
# a reseed reminder alarm fires, provided that the current seed is a random
# seed.
DRIVER=="clp800", ACTION=="change", ATTR{wd_alarm}!="none", \
	ATTR{reseed_action}=="random*", ATTR{reseed_action}="random"
