config HOBOT_COMMON_CLK
	bool "HOBOT clock controller support"
config CLK_HOBOT_COMMON_TEST
	bool "HOBOT clock controller test support"
config HOBOT_CPU_CLK_X2
	bool "HOBOT cpu clk support for x2"
config HOBOT_CPU_CLK_X3
	bool "HOBOT cpu clk support for x3"
config HOBOT_CNN_CLK_X3
	bool "HOBOT cnn clk support for x3"
config HOBOT_DMC_CLK
    bool "HOBOT dmc clk"
config HOBOT_BUS_CLK_X3
	bool "HOBOT bus clk support for x3"
