# Simple config file to wire up the PKA ENGINE.

BUILDDIR = .

openssl_conf = openssl_init

[openssl_init]
engines = engine_section

[engine_section]
elppka = elppka_section

[elppka_section]
dynamic_path = $ENV::BUILDDIR/.libs/libelppka.so
default_algorithms = ALL
