/*
 * dts file for Hobot XJ3 CVB
 *
 * (C) Copyright 2018, Horizon, Inc.
 *
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;
#include "hobot-xj3-xvb.dtsi"

/ {
	model = "Hobot XJ3 SOC MP CVB";
	compatible = "hobot,x3-soc";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

&ethernet {
	   status = "okay";

	   /* local-mac-address = [ 00 11 22 33 44 55 ]; */
	   phy-handle = <&phy0>;
	   phy-mode = "rgmii-id";
	   mdio {
			   #address-cells = <0x1>;
			   #size-cells = <0x0>;
			   phy0: phy@0 {
					   compatible = "marvell,88E1510","ethernet-phy-ieee802.3-c22";
					   reg = <0x0>;
			   };
	   };
};
