/*
 * dts file for Hobot X2 FPGA
 *
 * (C) Copyright 2018, Horizon, Inc.
 *
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;
#include "hobot.dtsi"
#include "hobot-pinctrl.dtsi"
#include "hobot-clk.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "Hobot X2 FPGA MP";
	compatible = "hobot,x2-fpga";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		i2c0	= &i2c0;
		i2c1	= &i2c1;
		i2c2	= &i2c2;
		i2c3	= &i2c3;
		i2s0	= &i2s0;
		i2s1	= &i2s1;
		pwm0	= &pwm_0;
		pwm1	= &pwm_1;
		pwm2	= &pwm_2;
		bifsd   = &bifsd;
		bifspi  = &bifspi;
		mmc1    = &sdio0;
		mmc2    = &sdio1;
	};

	chosen {
		bootargs = "earlycon loglevel=8 console=ttyS0 clk_ignore_unused";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ddrmonitor_reserved: ddrmonitor_reserved@0x3D061000 {
		    reg = <0x0 0x3D061000 0x0 0x28000>;
		    no-map;
		};
		bifsd_reserved: bifsd_reserved@0x3D089000 {
		    reg = <0x0 0x3D089000 0x0 0x1000>;
		    no-map;
		};
		iar_reserved: iar_reserved@0x3D08A000 {
		    reg = <0x0 0x3D08A000 0x0 0x2F76000>;
		    no-map;
		};

		/* Reserved 512MB memory for cnn subsystem */
		cnn_reserved: cnn_reserved@0x40000000 {
		    reg = <0x0 0x40000000 0x0 0x20000000>;
		};

		/* Reserved 512MB memory for ipu subsystem */
		ipu_reserved: ipu_reserved@0x60000000 {
		    reg = <0x0 0x60000000 0x0 0x20000000>;
		    /*no-map;*/
		};

	};

	cnn_mm {
		compatible = "hobot,cnn-mm";
		#address-cells = <1>;
		#size-cells = <0>;

		memory-region = <&cnn_reserved>;

		cnn_heap@0 {
			reg = <0>;
			label = "cnn0_model_mm";
			type = <1>;
		};

		cnn_heap@1 {
			reg = <1>;
			label = "cnn1_model_mm";
			type = <1>;
		};

		cnn_heap@2 {
			reg = <2>;
			label = "cnn_rt_mm";
			type = <1>;
		};

		cnn_heap@3 {
			reg = <3>;
			label = "cnn_result_mm";
			type = <1>;
		};
	};
};

&i2c0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	x2_camera@0x7f {
	    compatible = "x2,camera";
	    reg = <0x7f>;
	};
};

&i2c1 {
	status = "okay";
};

&pinctrl {
	status = "okay";
};

&uart0 {
	status = "okay";
	clocks = <&uart0_mclk>;
	clock-names = "uart_mclk";
};

&ips {
	clocks = <&vio_pllmux_clk>, <&mipi_ipi_1stdiv_clk>, <&mipi_ipi_2nddiv_clk>;
	clock-names = "vio_pllmux", "ipi_div1", "ipi_div2";
	status = "okay";
};

&isp {
	status = "okay";
};

&ipu {
	status = "okay";
};

&sif {
	status = "okay";
};
&mipi_host {
	status = "okay";
};

&mipi_dev {
	status = "okay";
};

&dma {
	status = "okay";
};

&x2dmatest {
	status = "disabled";
};

&rtc {
	status = "okay";
};

&pwm_0 {
	status = "disabled";
};

&spi0 {
	status = "okay";
};

&ethernet {
	status = "okay";
	clocks = <&eth0_ephy_2nddiv_clk>, <&eth0_prediv_clk>, <&eth0_div_clk>;
	clock-names = "phy_ref_clk", "mac_pre_div_clk", "mac_div_clk";

	pinctrl-names = "default";
	pinctrl-0 = <&eth_func>;

	/* local-mac-address = [ 00 11 22 33 44 55 ]; */
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	mdio {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		phy1: phy@0 {
			compatible = "marvell,88E1510","ethernet-phy-ieee802.3-c22";
			reg = <0x0>;
		};
	};
};

&cnn0 {
	status = "okay";
};

&cnn1 {
	status = "okay";
};

&iar {
	status = "okay";
};

&bifspi {
	status = "okay";
};

&bifsd {
	status = "okay";
	/*cd-gpio = <91>;*/
};

&qspi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	clocks = <&sys_qspi_aclk>;
	clock-names = "qspi_aclk";

	flash@0 {
		compatible = "gd256lq256d";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>; /* For FPGA max clk is 20Mhz */

		partition@qspi-uboot {
			label = "qspi-uboot";
			reg = <0x200000 0x200000>;
		};
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x400000 0x1000000>;
		};
		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x1400000 0x100000>;
		};
		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x1500000 0x500000>;
		};
	};
};

&sdio0 {
	status = "okay";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	non-removable;
	disable-wp;
};

&sdio1 {
	status = "okay";
	bus-width = <4>;
	no-mmc;
	no-sdio;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	powerup-gpio = <85>;
	uhs-180v-gpio = <86>;
	non-removable;
	disable-wp;
};

&watchdog {
	status = "okay";
};

&i2s0 {
	status = "disabled";
	clocks = <&i2s0_mclk>, <&i2s0_bclk>;
	clock-names = "i2s_mclk", "i2s_bclk";
};

&i2s1 {
	status = "disabled";
	clocks = <&i2s1_mclk>, <&i2s1_bclk>;
	clock-names = "i2s_mclk", "i2s_bclk";
};
&ddr_monitor {
	status = "okay";
};

