/*
 * dts file for Hobot X2 FPGA
 *
 * (C) Copyright 2018, Horizon, Inc.
 *
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;
#include "hobot.dtsi"
#include "hobot-pinctrl.dtsi"
#include "hobot-clk.dtsi"
#include "memory-2g.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "Hobot J2 MONO";
	compatible = "hobot,x2-fpga";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		i2c0	= &i2c0;
		i2c1	= &i2c1;
		i2c2	= &i2c2;
		i2c3	= &i2c3;
		i2s0	= &i2s0;
		i2s1	= &i2s1;
		pwm0	= &pwm_0;
		pwm1	= &pwm_1;
		pwm2	= &pwm_2;
		bifsd	= &bifsd;
		bifspi	= &bifspi;
		mmc1	= &sdio0;
		mmc2	= &sdio1;
	};

	chosen {
		bootargs = "earlycon loglevel=8 console=ttyS0 clk_ignore_unused";
		stdout-path = "serial0:115200n8";
	};

};

&i2c0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	x2_camera@0x7f {
	    compatible = "x2,camera";
	    reg = <0x7f>;
	};
	tmp75c@48 {
                compatible = "ti,tmp75c";
		reg = <0x48>;
	};
};

&i2c2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_func>;

		mpq7920@69 {
		compatible = "mps,mpq7920";
		reg = <0x69>;
		regulators {
			vcc_cnn0_reg: DCDC1 {
				regulator-name = "VCC_CNN0";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_core_pd_reg: DCDC2 {
				regulator-name = "VDD_CORE_PD";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vcc_cnn1_reg: DCDC3 {
				regulator-name = "VCC_CNN1";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vcc_cpu_reg: DCDC4 {
				regulator-name = "VCC_CPU";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_core_ao_reg: LDO3 {
				regulator-name = "VDD_CORE_AO";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
				regulator-boot-on;
			};

			vdd_1v8_reg: LDO4 {
				regulator-name = "VDD_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};

			vdd_0v9_reg: LDO5 {
				regulator-name = "VDD_0V9";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
			};
		};
	};




};

&pinctrl {
	status = "okay";
	gpioirq-bank-cfg=<18 0 0 0>;
};

&uart0 {
	status = "okay";
	clocks = <&uart0_mclk>;
	clock-names = "uart_mclk";
};

&ips {
	pinctrl-names = "bt_func", "dvp_func";
	pinctrl-0 = <&btin_func &btout_func>;
	pinctrl-1 = <&dvpin_func &dvpout_func>;
	status = "okay";
};

&isp {
	status = "okay";
};

&ipu {
	status = "okay";
};

&sif {
	status = "okay";
};
&mipi_host {
	status = "okay";
};

&mipi_dev {
	status = "okay";
};

&dma {
	status = "okay";
};

&x2dmatest {
	status = "disabled";
};

&rtc {
	status = "okay";
};

&pwm_0 {
	status = "disabled";
};

&spi0 {
	status = "okay";
};

&ethernet {
	status = "okay";
	clocks = <&eth0_ephy_2nddiv_clk>, <&eth0_prediv_clk>, <&eth0_div_clk>;
	clock-names = "phy_ref_clk", "mac_pre_div_clk", "mac_div_clk";

	pinctrl-names = "default";
	pinctrl-0 = <&eth_func>;

	/* local-mac-address = [ 00 11 22 33 44 55 ]; */
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	mdio {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		phy1: phy@0 {
			compatible = "marvell,88E1510","ethernet-phy-ieee802.3-c22";
			reg = <0x0>;
		};
	};
};

&cpu0 {
	status = "okay";
	cpu-supply = <&vcc_cpu_reg>;
};
&cpu1 {
	status = "okay";
	cpu-supply = <&vcc_cpu_reg>;
};

&cnn0 {
	status = "okay";
	cnn0-supply = <&vcc_cnn0_reg>;
};

&cnn1 {
	status = "okay";
	cnn1-supply = <&vcc_cnn1_reg>;
};

&iar {
	status = "disabled";
};

&bifspi {
	status = "okay";
};

&bifsd {
	status = "disabled";
	/*cd-gpio = <91>;*/


};
&timesync {
	status = "okay";
	timesync_MCU2J2_irq_pin = <18>;
	timesync_J22MCU_irq_pin = <118>;
};
&bifbase {
	/*x2j2 bifbase: GPIO7[8]: 18, GPIO0[7]: 7*/
	status = "okay";
//	bifbase_irq_pin = <18>;
//	bifbase_tri_pin = <7>;
};
&biflite_spi {
	status = "okay";
	mcu-ap;
	polling-mode;
};
&qspi {
	status = "okay";
	qspi-mode = <1>;
	#address-cells = <1>;
	#size-cells = <0>;
	clocks = <&sys_qspi_aclk>;
	clock-names = "qspi_aclk";

	flash@0 {
		compatible = "gd25lq128d";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;

		partition@qspi-uboot {
			label = "qspi-uboot";
			reg = <0x200000 0x200000>;
		};
	};
};

&sdio0 {
	status = "okay";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	non-removable;
	disable-wp;
};

&sdio1 {
	status = "okay";
	bus-width = <4>;
	//no-mmc;
	//no-sdio;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	//sd-uhs-sdr12;
	//sd-uhs-sdr25;
	//sd-uhs-sdr50;
	//sd-uhs-sdr104;
	//powerup-gpio = <85>;
	//uhs-180v-gpio = <86>;
	//non-removable;
	mmc-hs200-1_8v;
	broken-cd;
	disable-wp;
};

&watchdog {
	status = "okay";
};

&i2s0 {
	status = "okay";
	clocks = <&i2s0_mclk>, <&i2s0_bclk>,<&i2s0_div_bclk>;
	clock-names = "i2s-mclk", "i2s-bclk", "i2s0_div_bclk";
};


&ddr_monitor {
	status = "okay";
};

&temp {
	clocks = <&temp_sensor_div_clk>;
	clock-names = "tsensor_clk";
	status = "okay";
};

&soc_thermal {
	status = "okay";
};

&arch_timer {
	clock-frequency = <24000000>;
};
