/*
 * dts file for Hobot XJ3 SOC
 *
 * (C) Copyright 2018, Horizon, Inc.
 *
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

 / {
	soc {
		pinctrl: pinctrl@0xA6003000 {
			compatible = "hobot,x2-pinctrl";
			reg = <0 0xA6004000 0 0x100>,
				<0 0xA6003000 0 0x100>;
			interrupt-parent = <&gic>;
			interrupts = <0 54 4>;
			/*specific the gpio of each irq banck, 0 is invalid*/
			gpioirq-bank-cfg = <12 0 0 0>;

			status = "disabled";
			interrupt-controller;
			#interrupt-cells = <2>;
			i2c0_func: i2c0_func {
				pinctrl-x2,pins-muxs = <
					8	0 /*i2c0 SCL*/
					9	0 /*i2c0 SDA*/
				>;
			};
			i2c1_func: i2c1_func {
				pinctrl-x2,pins-muxs = <
					10	0 /*i2c1 SDA*/
					11	0 /*i2c1 SCL*/
				>;
			};
			i2c2_func: i2c2_func {
				pinctrl-x2,pins-muxs = <
					12	0 /*i2c2 SCL*/
					13	0 /*i2c2 SDA*/
				>;
			};
			i2c3_func: i2c3_func {
				pinctrl-x2,pins-muxs = <
					14       0 /*i2c3 SCL*/
					15       0 /*i2c3 SDA*/
				>;
			};
			i2c4_func: i2c4_func {
				pinctrl-x2,pins-muxs = <
					16       1 /*SPI0_CSN - i2c4 SDA*/
					17       1 /*SPI0_SCLK - i2c4 SCL*/
				>;
			};
			i2c5_func: i2c5_func {
				pinctrl-x2,pins-muxs = <
					18       1 /*SPI0_MOSI - i2c5 SDA*/
					19       1 /*SPI0_MISO - i2c5 SCL*/
				>;
			};
			uart0_func: uart0_func {
				pinctrl-x2,pins-muxs = <
					95	0 /*uart0 TXD*/
					96	0 /*uart0 RXD*/
				>;
			};
			uart1_func: uart1_func {
				pinctrl-x2,pins-muxs = <
					97	0 /*uart1 TXD*/
					98	0 /*uart1 RXD*/
				>;
			};
			uart1_func_rtscts: uart1_func_rtscts {
				pinctrl-x2,pins-muxs = <
					97	0 /*uart1 TXD*/
					98	0 /*uart1 RXD*/
					99	0 /*uart1 RTSN*/
					100	0 /*uart1 CTSN*/
				>;
			};
			uart2_func: uart2_func {
				pinctrl-x2,pins-muxs = <
					99	1 /*uart1 RTSN - uart2 TXD*/
					100	1 /*uart1 CTSN - uart2 RXD*/
				>;
			};
			uart3_func: uart3_func {
				pinctrl-x2,pins-muxs = <
					111	1 /*Sensor2 MCLK - uart3 TXD*/
					112	1 /*Sensor3 MCLK - uart3 RXD*/
				>;
			};
			i2s0_func: i2s0_func {
				pinctrl-x2,pins-muxs = <
					101 0 /*i2s0 MCLK*/
					102 0 /*i2s0 BGLK*/
					103 0 /*i2s0 LRGK*/
					104 0 /*i2s0 SDIO*/
				>;
			};
			i2s1_func: i2s1_func {
				pinctrl-x2,pins-muxs = <
					105 0 /*i2s1 MCLK*/
					106 0
					107 0
					108 0
				>;
			};
			btout_func: btout_func {
				pinctrl-x2,pins-muxs = <
					78	0 /*BT1120_OUT_CLK*/
					79	0 /*BT1120_OUT_DAT0*/
					80	0
					81	0
					82	0
					83	0
					84	0
					85	0
					86	0 /*BT1120_OUT_DAT7*/
					87	0 /*BT1120_OUT_DAT8*/
					88	0
					89	0
					90	0
					91	0
					92	0
					93	0
					94	0 /*BT1120_OUT_DAT15*/
				>;
			};
			dvpin_func: dvpin_func {
				pinctrl-x2,pins-muxs = <
					78	1 /*DVPIN_PCLK*/
					79	1 /*DVPIN_VSYNC*/
					80	1 /*DVPIN_HSYNC*/
					81	1 /*DVPIN_DATA0*/
					82	1
					83	1
					84	1
					85	1
					86	1
					87	1
					88	1 /*DVPIN_DATA7*/
					89	1 /*DVPIN_DATA8*/
					90	1
					91	1
					92	1 /*DVPIN_DATA11*/
				>;
			};
			rgb_func: rgb_func {
				pinctrl-x2,pins-muxs = <
					20	2 /*VSYNC*/
					21	2 /*HSYNC*/
					26	2 /*DE*/
					78	0 /*CLK*/
					79	2 /*DAT0*/
					80	2
					81	2
					82	2
					83	2
					84	2
					85	2
					86	2 /*DAT7*/
					87	2 /*DAT8*/
					88	2
					89	2
					90	2
					91	2
					92	2
					93	2
					94	2 /*DAT15*/
					22	2 /*DATA16*/
					23	2
					24	2
					25	2 /*DATA19*/
					116	2 /*DATA20*/
					117	2
					118	2
					119	2 /*DATA23*/
				>;
			};
			bifsd_func:bifsd_func {
				pinctrl-x2,pins-muxs = <
					20	0 /*BIFSD_CLK*/
					21	0 /*BIFSD_CMD*/
					22	0 /*BIFSD_DATA0*/
					23	0
					24	0
					25	0 /*BIFSD_DATA3*/
					26	0 /*BIFSD_RSTN*/
					116	0 /*BIFSD_DATA4*/
					117	0
					118	0
					119	0 /*BIFSD_DATA7*/
				>;
			};
			bifspi_func:bifspi_func {
				pinctrl-x2,pins-muxs = <
					27	0 /*BIFSPI_CSN*/
					28	0 /*BIFSPI_SCLK*/
					29	0 /*BIFSPI_MOSI*/
					30	0 /*BIFSPI_MISO*/
					31	3 /*BIFSPI_RSTN*/
				>;
			};
			bifspi_func_reset:bifspi_func_reset {
				pinctrl-x2,pins-muxs = <
					27	0 /*BIFSPI_CSN*/
					28	0 /*BIFSPI_SCLK*/
					29	0 /*BIFSPI_MOSI*/
					30	0 /*BIFSPI_MISO*/
					31	0 /*BIFSPI_RSTN*/
				>;
			};
			spi0_func:spi0_func {
				pinctrl-x2,pins-muxs = <
					16	0 /*SPI0_CSN0*/
					17	0 /*SPI0_SCLK*/
					18	0 /*SPI0_MOSI*/
					19	0 /*SPI0_MISO*/
				>;
			};
			spi0_csn1_func:spi0_csn1_func {
				pinctrl-x2,pins-muxs = <
					120	1 /*QSPI_CSN1/SPI0_CSN1/GPIO7[8]*/
				>;
			};
			spi1_func:spi1_func {
				pinctrl-x2,pins-muxs = <
					3	1 /*SPI1_SCLK*/
					5	1 /*SPI1_CSN*/
					6	1 /*SPI1_MISO*/
					7	1 /*SPI1_MOSI*/
				>;
			};
			spi2_func:spi2_func {
				pinctrl-x2,pins-muxs = <
					12	1 /*SPI2_MOSI*/
					13	1 /*SPI2_MISO*/
					14	1 /*SPI2_SCLK*/
					15	1 /*SPI2_CSN*/
				>;
			};
			qspi_func:qspi_func {
				pinctrl-x2,pins-muxs = <
					32	0 /*QSPI_CSN*/
					33	0 /*QSPI_SCLK*/
					34	0 /*QSPI_MOSI_IO0*/
					35	0 /*QSPI_MOSI_IO1*/
					36	0 /*QSPI_MOSI_IO2*/
					37	0 /*QSPI_MOSI_IO3*/
					120	0 /*QSPI_CSN*/
				>;
			};
			sdio0_func:sdio0_func {
				pinctrl-x2,pins-muxs = <
					53	0 /*SD0_CLK*/
					54	0 /*SD0_CMD*/
					55	0 /*SD0_DATA0*/
					56	0 /*SD0_DATA1*/
					57	0 /*SD0_DATA2*/
					58	0 /*SD0_DATA3*/
					59	0 /*SD0_DATA4*/
					60	0 /*SD0_DATA5*/
					61	0 /*SD0_DATA6*/
					62	0 /*SD0_DATA7*/
					63	0 /*SD0_DATA_STRB*/
					/* 64	0 */ /*SD0_DET_N*/
					/* 65	0 */ /* SD0_WPROT - reused by usb id pin */
				>;
			};
			sdio1_func:sdio1_func {
				pinctrl-x2,pins-muxs = <
					66	0 /*SD1_CLK*/
					67	0 /*SD1_CMD*/
					68	0 /*SD1_DATA0*/
					69	0 /*SD1_DATA1*/
					70	0 /*SD1_DATA2*/
					71	0 /*SD1_DATA3*/
				>;
			};
			sdio2_func:sdio2_func {
				pinctrl-x2,pins-muxs = <
					72	0 /*SD2_CLK*/
					73	0 /*SD2_CMD*/
					74	0 /*SD2_DATA0*/
					75	0 /*SD2_DATA1*/
					76	0 /*SD2_DATA2*/
					77	0 /*SD2_DATA3*/
				>;
			};
			eth_func:eth_func {
				pinctrl-x2,pins-muxs = <
					38	3
					39	0
					40	0
					41	0
					42	0
					43	0
					44	0
					45	0
					46	0
					47	0
					48	0
					49	0
					50	0
					51	0
					52	0
				>;
			};
			pwm0:pwm0_func {
				pinctrl-x2,pins-muxs = <
					4	2
				>;
			};
			pwm1:pwm1_func {
				pinctrl-x2,pins-muxs = <
					22	1
				>;
			};
			pwm2:pwm2_func {
				pinctrl-x2,pins-muxs = <
					23	1
				>;
			};
			pwm3:pwm3_func {
				pinctrl-x2,pins-muxs = <
					24	1
				>;
			};
			pwm4:pwm4_func {
				pinctrl-x2,pins-muxs = <
					25	1
				>;
			};
			pwm5:pwm5_func {
				pinctrl-x2,pins-muxs = <
					18	2
				>;
			};
			pwm6:pwm6_func {
				pinctrl-x2,pins-muxs = <
					19	2
				>;
			};
			pwm7:pwm7_func {
				pinctrl-x2,pins-muxs = <
					12	2
				>;
			};
			pwm8:pwm8_func {
				pinctrl-x2,pins-muxs = <
					13	2
				>;
			};
			sensor0_func: sensor_func@0 {
				pinctrl-x2,pins-muxs = <
					109      0 /*Sensor0 MCLK*/
				>;
			};
			sensor1_func: sensor_func@1 {
				pinctrl-x2,pins-muxs = <
					110      0 /*Sensor1 MCLK*/
				>;
			};
			sensor2_func: sensor_func@2 {
				pinctrl-x2,pins-muxs = <
					111      0 /*Sensor2 MCLK*/
				>;
			};
			sensor3_func: sensor_func@3 {
				pinctrl-x2,pins-muxs = <
					112      0 /*Sensor3 MCLK*/
				>;
			};
			usb_id_function: usb-id-function {
				pinctrl-x2,pins-muxs = <
					65	3 /* usb id pin */
				>;
			};
		};
	};
};
