/*
 * dts file for Hobot X3 DVB
 *
 * (C) Copyright 2018, Horizon, Inc.
 *
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;
#include "hobot-xj3-xvb.dtsi"

/ {
	model = "Hobot X3 SOC MP DVB";
};

&i2c0 {

	axp15060@37 {
		compatible = "X-Powers,axp15060";
		reg = <0x37>;
		regulators {
			sys_pd1_3v3_reg: DCDC1 {
				regulator-name = "VDD_3V3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			cnn0_pd_reg: DCDC2 {
				regulator-name = "VCC_CNN0";
				regulator-min-microvolt = <820000>;
				regulator-max-microvolt = <1000000>;
				regulator-enable-ramp-delay = <3000>;
			};

			cnn1_pd_reg: DCDC3 {
				regulator-name = "VCC_CNN1";
				regulator-min-microvolt = <820000>;
				regulator-max-microvolt = <1000000>;
				regulator-enable-ramp-delay = <3000>;
			};

			cpu_pd_reg: DCDC4 {
				regulator-name = "VCC_CPU";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
			};
			vdd_usb_0v8: BLDO2 {
				regulator-name = "USB_V_8";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-enable-ramp-delay = <3000>;
			};
		};
	};

};

&usb {
	usb_0v8-supply = <&vdd_usb_0v8>;
};

&cnn_opp_table {
	opp03 {
		opp-hz = /bits/ 64 <1200000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <500000>;
	};
};

&cpu0 {
	cpu-supply = <&cpu_pd_reg>;
};

&cpu1 {
	cpu-supply = <&cpu_pd_reg>;
};

&cpu2 {
	cpu-supply = <&cpu_pd_reg>;
};

&cpu3 {
	cpu-supply = <&cpu_pd_reg>;
};

&cnn0 {
	cnn-supply = <&cnn0_pd_reg>;
	governor = "userspace";
};

&cnn1 {
	cnn-supply = <&cnn1_pd_reg>;
	governor = "userspace";
};

&sdio1 {
	powerup-gpio = <100>;	/* x3-dvb UART1_CTSN/GPIO6[4] */
	powerup-logic = <1>;
};

&sdio2 {
	powerup-gpio = <2>; /* x3-dvb EN_VDD_CNN1/GPIO0[2] */
};

&mipi_host0 {
	pinctrl-0 = <&sensor1_func>;
	pinctrl-1 = <&sensor1_gpio_func>;
	snrclk-idx = <1>;
};

&mipi_host1 {
	pinctrl-0 = <&sensor0_func>;
	pinctrl-1 = <&sensor0_gpio_func>;
	snrclk-idx = <0>;
};

&spi2 {
	status = "disable";
	slave;
	slave@0x00 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&spi0 {
	status = "disable";
	spidev@0x00 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};
