/*
 * dtsi file for Hobot XJ3 SDB
 *
 * (C) Copyright 2018, Horizon, Inc.
 *
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;
#include "hobot-xj3.dtsi"
#include "hobot-pinctrl-xj3.dtsi"
#include "hobot-clk-xj3.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "Hobot XJ3 SOC SDB";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		i2c0	= &i2c0;
		i2c1	= &i2c1;
		i2c2	= &i2c2;
		i2c3	= &i2c3;
		i2c4	= &i2c4;
		i2c5	= &i2c5;
		i2s0	= &i2s0;
		i2s1	= &i2s1;
		spi0	= &spi0;
		spi1	= &spi1;
		spi2	= &spi2;
		usbdrd3_0 = &usbdrd3_0;
		usbdrd_dwc3_0 = &usbdrd_dwc3_0;
		bifspi	= &bifspi;
		bifsd   = &bifsd;
		mmc1	= &sdio0;
		mmc2	= &sdio1;
		mmc3	= &sdio2;
		dma	= &dma;
		dmatest = &dmatest;
		mipihost0 = &mipi_host0;
		mipihost1 = &mipi_host1;
		mipihost2 = &mipi_host2;
		mipihost3 = &mipi_host3;
		mipidev0 = &mipi_dev0;

		pym	= &pym;
		dwe	= &dwe;
		ldc	= &ldc;
		dis0	= &dis0;
		dis1	= &dis1;
		gdc0	= &gdc0;
		gdc1	= &gdc1;
		isp	= &isp;
		ipu	= &ipu;
		sif	= &sif;

		sndcard0 = &snd0;
		sndcard1 = &snd1;
		sndcard2 = &snd2;
		sndcard4 = &snd4;
		idma0 = &i2sidma0;
		idma1 = &i2sidma1;

		codec0 = &codec0;

		socinfo = &socinfo;

		gpios = &gpios;
		usb_id = &usb_id;
		extcon_vbus = &extcon_vbus;

		power = &power;
		pwm_c2 = &pwm_c2;
	};

	chosen {
		bootargs = "earlycon loglevel=8 kgdboc=ttyS0 video=hobot:x3sdb-hdmi ";
		stdout-path = "serial0";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x200000 0x0 0x3FE00000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/*Reserved 256K memory pstore */
		ramoops@0x3FC0000 {
			compatible = "ramoops";
			reg = <0x0 0x3FC0000 0x0 0x40000>;
			console-size = <0x8000>;
			pmsg-size = <0x8000>;
			ftrace-size = <0x8000>;
			record-size = <0x4000>;
		};

		/* Reserved 672MB memory for ion cma */
		ion_cma {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x0 0x4000000 0x0 0x2A000000>;
			alignment = <0x0 0x100000>;
			size = <0x0 0x2A000000>;
			reusable;
		};

		/* 32M */
/*
		ion_reserved: ion_reserved@0x2E000000 {
			compatible = "ion-pool";
			reg = <0x0 0x2E000000 0x0 0x2000000>;
		};
*/
		/*Reserved 1M memory for CR5*/
		image_r5_mem: image_r5_mem {
			reg = <0x0 0x80000000 0x0 0x10000>;
			no-map;
		};

		msg_r5_mem: msg_r5_mem {
			reg = <0x0 0x8000f000 0x0 0x1000>;
			no-map;
		};

		rpmsg_r5_code: rpmsg_r5_code {
			reg = <0x0 0x3E00000 0x0 0xFF000>;
			no-map;
		};

		rpmsg_r5_vring: rpmsg_r5_vring {
			reg = <0x0 0x3EFF000 0x0 0x1000>;
			no-map;
		};
	};

	cnn0_pd_reg: cnn0_pd_reg@2 {
		status = "okay";
		compatible = "regulator-gpio";
		regulator-name = "VCC_CNN0";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		enable-gpio = <&gpios 1 0>;
		states = <800000 0>;
		startup-delay-us = <3000>;
		regulator-boot-on;
		enable-active-high;
	};

	cnn1_pd_reg: cnn1_pd_reg@3 {
		status = "okay";
		compatible = "regulator-gpio";
		regulator-name = "VCC_CNN1";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		enable-gpio = <&gpios 2 0>;
		states = <800000 0>;
		startup-delay-us = <3000>;
		regulator-boot-on;
		enable-active-high;
	};
};

/*
&cr5_service {
	status = "ok";
};
*/

&power {
    vdd_core_on_cnt = <0xffff>;
    sysctrl_rst_dis_cnt = <0xffff>;
    sysctrl_pre_clkon_cnt = <0xffff>;
    sysctrl_pre_clkoff_cnt = <0xffff>;
};

&socinfo {
	board_name = "X3SDB";
	board_id = "00000000";
	origin_board_id = "00000000";
	ddr_vender = "Hynix";
	ddr_type = "LPDDR4";
	ddr_freq = "2666";
	ddr_size = "1GB";
	som_name = "X3SODIMM";
	base_board_name = "X3SDB";
	boot_mode = "0";
	socuid = "00000000000000000000000000000000";
};

&pinctrl {
	btout_func: btout_func {
		pinctrl-single,pins = <
			0x138   (MUX_F0 | DRIVE1_33MA | SCHMITT2_ENA | PULL2_DOWN) /*BT1120_OUT_CLK*/
			0x13c   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN) /*BT1120_OUT_DAT0*/
			0x140   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x144   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x148   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x14c   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x150   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x154   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x158   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN) /*BT1120_OUT_DAT7*/
			0x15c   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN) /*BT1120_OUT_DAT8*/
			0x160   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x164   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x168   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x16c   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x170   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x174   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN)
			0x178   (MUX_F0 | DRIVE1_12MA | SCHMITT2_DIS | PULL2_DOWN) /*BT1120_OUT_DAT15*/
		>;
	};
};

&i2c0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	/* pcf8563 */
	pcf8563@0x51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		clock-output-names = "wifi-32k-clk";
	};

	es7210_0:es7210_0@0x40 {
		compatible = "MicArray_0";
		reg = <0x40>;
		#sound-dai-cells = <1>;
	};
	es7210_1@0x41 {
		compatible = "MicArray_1";
		reg = <0x41>;
	};
	es7210_2@0x42{
		compatible = "MicArray_2";
		reg = <0x42>;
	};
	es8156:es8156_0@0x08{
		compatible="everest,es8156";
		reg = <0x08>;
		#sound-dai-cells = <0>;
	};
};

&i2c1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	lt8618sxb@0x3b {
		compatible = "lt,lt8618sxb";
		reg = <0x3b>;
		rst_pin = <64>; // shared reset with TP!
	};
	Goodix-TS@0x14 {
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		irq-gpio = <&gpios 26 0>;
		rst-gpio = <&gpios 64 0>;
		status = "okay";
	};
};

&i2c2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

};


&i2c5 {
	status = "disable";
	#address-cells = <1>;
	#size-cells = <0>;

	es8311: es8311@0x18 {
		compatible = "ambarella,es8311";
		reg = <0x18>;
		#sound-dai-cells = <0>;
	};
};


&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay"; /* 4 wire uart for bt */
	pinctrl-0 = <&uart1_func_rtscts>; /* <&uart1_func>;  uart 1 connect to bt with rtscts*/
};

&spi0 {
	status = "okay";
	pinctrl-names = "default","csn1_func";
	pinctrl-1 = <&spi0_csn1_func>;
	spidev@0x00 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <48000000>;
		reg = <0>;
	};

	spidev@0x01 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <48000000>;
		reg = <1>;
	};
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	status = "okay";
};

&usb_id {
	status = "okay";

	/* vbus-gpio = <>; */
	id-gpio = <&gpios 65 GPIO_ACTIVE_HIGH>;
	host-rst-gpio = <&gpios 115 GPIO_ACTIVE_HIGH>;
	host-exrst-gpio = <&gpios 4 GPIO_ACTIVE_LOW>;
};

&extcon_vbus {
	status = "disabled";

	pinctrl-names = "default";
	pinctrl-0 = <&vbus_detect_function>;

	gpio-mode = <0x1>;	/* 1: poll mode, 2: interrupt mode */
	vbus-gpio = <&gpios 22 GPIO_ACTIVE_HIGH>;
};

&gpios {
	status = "okay";
};

&pinctrl {
	status = "okay";
};

&ldc {
	status = "okay";
};

&dwe {
	status = "okay";
};

&dis0 {
	status = "okay";
};

&dis1 {
	status = "okay";
};

/* when gdc0 added, boot stucked one time */
&gdc0 {
	status = "okay";
};

&gdc1 {
	status = "okay";
};

&pym {
	status = "okay";
};

&ips {
	status = "okay";
};

&isp {
	status = "okay";
};

&ipu {
	status = "okay";
};

&sif {
	status = "okay";
};

&mipi_host0 {
	status = "okay";
};

&mipi_host1 {
	status = "okay";
};

&mipi_host2 {
	status = "okay";
};

&mipi_host3 {
	status = "okay";
};

&mipi_dphy {
	status = "okay";
};

&dma {
	status = "okay";
};

&rtc {
	status = "okay";
};

&pwm_c2 {
	status = "okay";
	pinctrl-names = "pwm0", "pwm1","pwm2";
	pinctrl-0 = <>;
	pinctrl-1 = <&pwm7_func>;
	pinctrl-2 = <&pwm8_func>;
};

&ethernet {
	status = "okay";

	/* pinctrl-names = "default";
	pinctrl-0 = <&eth_func>; */

	/* local-mac-address = [ 00 11 22 33 44 55 ]; */
	phy-mode = "rgmii-id";

	phy-handle = <&eth_phy0>;
	mdio {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		/* use GPIO 1.8 as RESET PIN for phy */
		reset-gpios = <&gpios 24 GPIO_ACTIVE_HIGH>;
		/* reset pin must assert at least 10ms for RTL8211F */
		reset-delay-us = <20000>;
		/* regs of RTL8211F cannot be accessed until at least 72ms after the reset */
		reset_extra_us = <100000>;

		eth_phy0: ethernet-phy@0 {
			reg = <0x0>;
			max-speed = <1000>;
		};
	};
};

&iar {
	status = "okay";
	pinctrl-names = "bt_func", "rgb_func", "rgb_gpio_func", "bt1120_voltage_func";
	pinctrl-3 = <&bt1120_3_3v_func>;
	disp_panel_reset_pin = <117>;
	timing_1920x1080 = <148500000 160 120 24 48 4 5>;
	timing_720x1280_touch = <64000000 40 40 10 11 16 3>;
	startup-img = <1>;
	pwm = <1 1000 200>;
	default-display-type = <1>;//hdmi
};

&fb {
	status = "okay";
	offset-rgba = <16 8 0 24>;
};

&sdio0 {
	status = "okay";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	non-removable;
	disable-wp;
};

&sdio1 {
	status = "okay";
	bus-width = <4>;
	no-mmc;
	no-sd;
	cap-sdio-irq;
	cap-sd-highspeed;
	broken-cd;
	disable-wp;
	keep-power-in-suspend;
	clock-freq-min-max = <100000 50000000>;
	max-frequency = <50000000>;
	mmc-fixed-voltage = <1800>;
	non-removable;
	pinctrl-names = "default","voltage_1_8v";
	pinctrl-0 = <&sdio1_func>;
	pinctrl-1 = <&sd1_1_8v_func>;
};

&sdio2 {
	status = "okay";
	bus-width = <4>;
	no-mmc;
	no-sdio;
	cap-sd-highspeed;
	keep-power-in-suspend;
	cd-gpios = <&gpios 116 GPIO_ACTIVE_LOW>;
	/* broken-cd; */
	disable-wp;
};

&watchdog {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&i2s0 {
	status = "okay";
	#sound-dai-cells = <0>;
	clocks = <&i2s0_mclk>, <&i2s0_bclk>;
	clock-names = "i2s-mclk", "i2s-bclk";
	ms = <1>;
	bclk_set = <1536000>; //duplex
};

&i2s1 {
	status = "okay";
	#sound-dai-cells = <0>;
	clocks = <&i2s1_mclk>, <&i2s1_bclk>;
	clock-names = "i2s-mclk", "i2s-bclk";
	ms = <1>;
	bclk_set = <1536000>;
};

&i2sidma0 {
	status = "okay";
};

&i2sidma1 {
	status = "okay";
};

&codec0 {
	status = "okay";
	#sound-dai-cells = <1>;
};

&snd4 {
	status = "okay";
};
&snd5 {
	status = "okay";
};

&jpu {
	status = "okay";
};

&vpu {
	status = "okay";
};

&ddr_monitor {
	status = "okay";
};

&power {
	status = "okay";
};

&pvt {
	status = "okay";
};

&soc_thermal {
	status = "okay";

	trips {
		threshold: trip-point@0 {
			temperature = <80000>;
			hysteresis = <0>;
			type = "passive";
		};
		target: trip-point@1 {
			temperature = <95000>;
			hysteresis = <0>;
			type = "passive";
		};
		soc_crit: soc-crit {
			temperature = <105000>;
			hysteresis = <0>; /* millicelsius */
			type = "critical";
		};
	};
};

&cnn0 {
	cnn-supply = <&cnn0_pd_reg>;
	governor = "userspace";
	max_freq = /bits/ 64 <1000000000>;
};

&cnn1 {
	cnn-supply = <&cnn1_pd_reg>;
	governor = "userspace";
	max_freq = /bits/ 64 <1000000000>;
};

&snd4 { //dummy-codec
	model = "hobotsnd4";
	work_mode = <1>; /*0:simple mode; 1:duplex mode*/
	dai-link@0 {
		dai-format = "i2s";
		//bitclock-master;
		//frame-master;
		frame-inversion;
		link-name = "hobotdailink0";
		cpu {
			sound-dai = <&i2s0>;
		};
		codec {
			sound-dai = <&codec0 0>;
		};
		platform {
			sound-dai = <&i2sidma0>;
		};
	};
	dai-link@1 {
		dai-format = "i2s";
		bitclock-master;
		frame-master;
		frame-inversion;
		link-name = "hobotdailink1";
		cpu {
			sound-dai = <&i2s1>;
		};
		codec {
			sound-dai = <&codec0 1>;
		};
		platform {
			sound-dai = <&i2sidma1>;
		};
	};
};

&snd5 {
	model = "hobotsnd5";
	work_mode = <0>; /*0:simple mode; 1:duplex mode*/
	dai-link@0 {
		dai-format = "dsp_a";
		bitclock-master;
		frame-master;
		frame-inversion;
		link-name = "hobotdailink0";
		cpu {
			sound-dai = <&i2s0>;
		};
		codec {
			sound-dai = <&es7210_0 0>;
		};
		platform {
			sound-dai = <&i2sidma0>;
		};
	};
	dai-link@1 {
		dai-format = "i2s";
		bitclock-master;
		frame-master;
		//frame-inversion;
		link-name = "hobotdailink1";
		cpu {
			sound-dai = <&i2s1>;
		};
		codec {
			sound-dai = <&es8156>;
		};
		platform {
			sound-dai = <&i2sidma1>;
		};
	};
};

