/ {
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bifsd_reserved: bifsd_reserved@0x1D389000 {
			reg = <0x0 0x1D389000 0x0 0x1000>;
			no-map;
		};

		iar_reserved: iar_reserved@0x1D38A000 {
			reg = <0x0 0x1D38A000 0x0 0x2F76000>;
			no-map;
		};

		/* Reserved 300MB memory for cnn subsystem */
		cnn_reserved: cnn_reserved@0x20300000 {
			reg = <0x0 0x20300000 0x0 0x12C00000>;
		};

		/* Reserved 200MB memory for ipu subsystem */
		ipu_reserved: ipu_reserved@0x32f00000 {
			reg = <0x0 0x32F00000 0x0 0xC800000>;
			/*no-map;*/
		};

		/*Reserved 8M memory for isp_subsystem*/
		isp_reserved: isp_reserved@0x3f700000 {
			reg = <0x0 0x3F700000 0x0 0x00800000>;
		};

		/*Reserved 1M memory for bifbase*/
		bif_base_reserved: bif_base_reserved@0x3ff00000 {
			reg = <0x0 0x3FF00000 0x0 0x00100000>;
			no-map;
		};
	};
};
