#include "memory.dtsi"
/ {
	reserved-memory {
		/*Reserved 24M memory for iar subsystem*/
		iar_reserved: iar_reserved@0x02100000 {
			reg = <0x0 0x02100000 0x0 0x1800000>;
			no-map;
		};

		/* Reserved 176MB memory for ion*/
		ion_reserved: ion_reserved@0x3900000 {
			compatible = "ion-pool";
			reg = <0x0 0x3900000 0x0 0xb000000>;
		};

	};
};
