config X2_BIFSD_DEV
	bool "Bif SD device driver support"
	default y
        help
          This supports Bif SD Card protocol drivers.

          Note that this application programming interface is EXPERIMENTAL
          and hence SUBJECT TO CHANGE WITHOUT NOTICE while it stabilizes.
