#
# Hobot MPSoC configuration
#
menuconfig HOBOT_SOC_DRIVERS
        bool "HOBOT SOC drivers support"
        depends on ARCH_HOBOT

config HOBOT_SOCINFO
        tristate "Enable hobot socinfo driver "
        default n
        help
          Say yes to enable hobot socinfo driver In doubt, say N

if HOBOT_SOC_DRIVERS

config HOBOT_CNN_HOST
        tristate "Enable hobot CNN HOST Drivers"
        default n
        help
          Say yes to enable hobot cnn driver In doubt, say N

config HOBOT_FUSA
		tristate "Enable J3 FUSA FATAL Drivers"
		default n
		help
			Say yes to enable J3 fusa fatal api driver In doubt, say N

config HOBOT_CNN_MM
        bool "hobot CNN Memory Heap Drivers"
        default n
        help
          Add hobot cnn memory heap management driver

source "drivers/soc/hobot/bpu/Kconfig"

config HOBOT_RAMDUMP
        bool "hobot ramdump support"
        default n
        depends on KEXEC
        help
          Enable hobot ramdump support

config HOBOT_DIAG
        bool "hobot diag driver, based on netlink"
        default n
        help
          Kernel modules(drivers) can send diag msgs to userspace
          by calling the API of the diag module(driver)

config HOBOT_MCU_IRQ
        tristate "Time sync driver with MCU by 2 GPIO"
        default n
        help
          Get mcu state&send irq and return timestamp


menuconfig HOBOT_BIF_CP
        bool "Enable Horizon CP side BIF driver"
        default n
        help
          Enable when BIF driver built in CP side

if HOBOT_BIF_CP
config HOBOT_BIFSPI_DEV
        bool "Bif SPI device driver support"
        default n
	help
	    Say Y here if you want to support read/write bif share register

config HOBOT_BIFSD_DEV
	bool "Bif SD device driver support"
	default y
        help
          This supports Bif SD Card protocol drivers.

          Note that this application programming interface is EXPERIMENTAL
          and hence SUBJECT TO CHANGE WITHOUT NOTICE while it stabilizes.

config HOBOT_BIF_BASE
        tristate "Enable HOBOT BIF Base Drivers"
        default n
        help
          Horizon Robotics chip support BIFSPI and BIFSD interface, this driver provide basic API
          to other driver like virtual ethernet and virtual serial port
          Say yes to enable bif base driver In doubt, say N

config HOBOT_BIF_ETHERNET
        tristate "Enable HOBOT BIF Ethernet Drivers"
	depends on HOBOT_BIF_BASE
        default n
        help
          Say yes to enable bif virtual ethernet driver In doubt, say N

config HOBOT_BIF_SIO
        tristate "Enable HOBOT BIF SIO Drivers"
	depends on HOBOT_BIF_BASE
        default n
        help
          Say yes to enable bif virtual sieral port driver

config HOBOT_BIF_LITE_CORE
        tristate "Enable HOBOT BIF Lite Drivers"
	depends on HOBOT_BIF_BASE
        default n
        help
          Say yes to enable bif_lite_core driver

config HOBOT_BIF_LITE_SPI
        tristate "Enable HOBOT BIF Lite SPI Drivers"
	depends on HOBOT_BIF_LITE_CORE
        default n
        help
          Say yes to enable bif_lite_spi driver

config HOBOT_BIF_LITE_SD
        tristate "Enable HOBOT BIF Lite SD Drivers"
	depends on HOBOT_BIF_LITE_CORE
        default n
        help
          Say yes to enable bif_lite_sd driver

config HOBOT_BIF_LITE_ETH
        tristate "Enable HOBOT BIF Lite ETH Drivers"
	depends on HOBOT_BIF_LITE_CORE && HOBOT_BIF_ETHERNET
        default n
        help
          Say yes to enable bif_lite_eth driver

config HOBOT_HBIPC_ETH
        tristate "Enable HBIPC Ethernet Drivers"
        default n
        help
          Say yes to enable bif_lite_sd driver

endif

config HOBOT_DDR_MON
	bool "Enable HOBOT DDR Monitor"
	default n
	help
	  say yes to enable hobot ddr monitor

config HOBOT_APB_TIMEOUT
	bool "Enable APB timeout detection module"
	default n
	help
	  say yes to enable hobot APB timeout detection module

config HOBOT_SSCG
	tristate "Enable HOBOT Spread Specturm"
	default n
	help
	  say yes to enable spread specturm

config HOBOT_PM
	bool "Enable HOBOT suspend"
	default n
	help
	  say yes to enable hobot suspend

config HOBOT_IAR
	tristate "HOBOT IAR Drivers"
	default n
	---help---
	   Drivers for the HOBOT IAR

config HOBOT_VCAM
        tristate "Enable HOBOT VCAM Drivers"
        default n
        help
          Say yes to enable vcam driver

config HOBOT_XJ3_CV_USRDRV
    tristate "CV XJ3 USRDRV Driver"
    help
       Driver for the user mode drive

menuconfig HOBOT_PM_PERF
	bool "Performance Sub-System Drivers Support on Hobot Platform"
	depends on ARCH_HOBOT
	default n
	help
	  Say yes to enable PM Sub-System drivers for Hobot JPlus SoCs

if HOBOT_PM_PERF

source "drivers/soc/hobot/performance/Kconfig"

endif #HOBOT_PM_PERF

endif #HOBOT_SOC_DRIVERS

menuconfig HOBOT_BIF_AP
        bool "Enable HOBOT BIF AP Drivers"
        default n
        help
          Say yes to enable bif AP side driver

if HOBOT_BIF_AP
config HOBOT_BIFSD
        tristate "Enable HOBOT BIF SD Drivers"
        default n
        help
          Say yes to enable bifsd AP side driver

config HOBOT_BIFSPI
        tristate "Enable HOBOT BIF SPI Drivers"
        default n
        help
          Say yes to enable bifspi AP side driver

endif

config HOBOT_CR5_SERVICE
        tristate "HOBOT CR5 Service Drivers"
        default n
        ---help---
           Drivers for the HOBOT CR5 Service
