#
# Hobot MPSoC configuration
#
menuconfig SOC_X2_MP
        bool "X2 MPSoC driver support"
        depends on ARCH_HOBOT

if SOC_X2_MP

config X2_CNN_HOST
        bool "Enable X2 CNN HOST Drivers"
        default n
        help
          Say yes to enable x2 cnn driver In doubt, say N

config X2_CNN_MM
        bool "X2 CNN Memory Heap Drivers"
        default y
        help
          Add x2 cnn memory heap management driver

config X2_DIAG
        bool "x2 diag driver, based on netlink"
        default y
        help
          Kernel modules(drivers) can send diag msgs to userspace
          by calling the API of the diag module(driver)

menuconfig HOBOT_BIF_CP
        bool "Enable Horizon CP side BIF driver"
        default y
        help
          Enable when BIF driver built in CP side

if HOBOT_BIF_CP
config HOBOT_BIF_BASE
        tristate "Enable HOBOT BIF Base Drivers"
        default y
        help
          Horizon Robotics chip support BIFSPI and BIFSD interface, this driver provide basic API
          to other driver like virtual ethernet and virtual serial port
          Say yes to enable bif base driver In doubt, say N

config HOBOT_BIF_ETHERNET
        tristate "Enable HOBOT BIF Ethernet Drivers"
	depends on HOBOT_BIF_BASE
        default y
        help
          Say yes to enable bif virtual ethernet driver In doubt, say N

config HOBOT_BIF_SIO
        tristate "Enable HOBOT BIF SIO Drivers"
	depends on HOBOT_BIF_BASE
        default n
        help
          Say yes to enable bif virtual sieral port driver

config HOBOT_BIF_LITE_CORE
        tristate "Enable HOBOT BIF Lite Drivers"
	depends on HOBOT_BIF_BASE
        default y
        help
          Say yes to enable bif_lite_core driver

config HOBOT_BIF_LITE_SPI
        tristate "Enable HOBOT BIF Lite SPI Drivers"
	depends on HOBOT_BIF_LITE_CORE
        default y
        help
          Say yes to enable bif_lite_spi driver

config HOBOT_BIF_LITE_SD
        tristate "Enable HOBOT BIF Lite SD Drivers"
	depends on HOBOT_BIF_LITE_CORE
        default y
        help
          Say yes to enable bif_lite_sd driver
endif

config X2_DDR_MON
	bool "Enable X2 DDR Monitor"
	default n
	help
	  say yes to enable x2 ddr monitor
endif #SOC_X2_MP

menuconfig HOBOT_BIF_AP
        bool "Enable HOBOT BIF AP Drivers"
        default n
        help
          Say yes to enable bif AP side driver

if HOBOT_BIF_AP
config HOBOT_BIFSD
        tristate "Enable HOBOT BIF SD Drivers"
        default y
        help
          Say yes to enable bifsd AP side driver

config HOBOT_BIFSPI
        tristate "Enable HOBOT BIF SPI Drivers"
        default y
        help
          Say yes to enable bifspi AP side driver
endif
