#
# Hobot MPSoC configuration
#
menuconfig SOC_X2_MP
        bool "X2 MPSoC driver support"
        depends on ARCH_HOBOT

if SOC_X2_MP

config X2_CNN_HOST
        bool "Enable X2 CNN HOST Drivers"
        default n
        help
          Say yes to enable x2 cnn driver In doubt, say N

config X2_CNN_MM
        bool "X2 CNN Memory Heap Drivers"
        default y
        help
          Add x2 cnn memory heap management driver

endif #SOC_X2_MP
